{% extends 'catalogo/base.html' %}

{% block content %}
<div class="como-comprar">
    <h2>Cómo Comprar</h2>
    <p>Elegí el producto que deseás comprar.</p>
    <p>Hacé click en el botón de "Agregar al carrito". Esto agregará el producto a tu carrito y te llevará al mismo.</p>
    <p>Podés seguir agregando otros productos al carrito o de lo contrario hacé click en "Iniciar Compra".</p>
    <p>Completá tus datos de contacto y hacé click en "Continuar".</p>
    <p>Ingresá la dirección a donde deseas recibir el producto. Luego hacé click en "Continuar".</p>
    <p>Seleccioná el método de envío que desees y hacé click en "Continuar".</p>
    <p>Elegí el medio de pago.</p>
    <p>Una vez que hayas elegido el medio de pago, hacé click en "Continuar".</p>
    <p>Finalmente en la página de Confirmación de compra podés revisar toda la información de la compra. Luego hacé click en "Continuar".</p>
    <p>Allí se te redirige a otra pantalla para que completes los datos sobre la forma de pago elegida. Después de confirmar la compra recibirás un correo de nuestra parte, ese no será un comprobante de pago.</p>
    <p>Una vez acreditado el pago, haremos el envío correspondiente de los productos que hayas comprado.</p>

    <h3>Enviamos tu compra</h3>
    <p>Entregas a todo el país.</p>

    <h3>Pagá como quieras</h3>
    <p>Tarjetas de crédito, transferencia o efectivo.</p>

    <h3>Comprá con seguridad</h3>
    <p>Tus datos siempre protegidos.</p>
</div>
{% endblock %}
