{% extends 'catalogo/base.html' %}
{% load static %}

{% block title %}Inicio - La Casa de Hilos y Repuestos{% endblock %}

{% block content %}
<section id="hero">
    <h2>Bienvenido a la mejor tienda de hilos y repuestos para toda confección</h2>
    <p>Descubre nuestra amplia variedad de productos de alta calidad para todas tus necesidades de costura.</p>
    <div class="formulario-inicio" div>
    <div class="icons-container">
        <a href="https://wa.me/542216769436" target="_blank" class="whatsapp-icon">
            <img src="{% static 'images/whatsapp-64.webp' %}" alt="WhatsApp">
        </a>
        <a href="{% url 'carrito' %}" class="cart-icon">
            <img src="{% static 'images/carro.jpg' %}" alt="Carrito de Compras">
        </a>
    </div>
</section>

<section id="productos-destacados">
    <h3>Productos Destacados</h3>
    <div class="productos-grid">
        <!-- Aquí van las tarjetas de productos destacados -->
    </div>
</section>
{% endblock %}
