{% extends './base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_messages %}
{% block content %}
<!-- <div class="cards-container">
    <div class="card">
        <img src="{% static 'images/curso1.png' %}" alt="Curso 1">
        <h3>Curso 1</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/curso1.png' %}" alt="Curso 2">
        <h3>Curso 2</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/curso1.png' %}" alt="Curso 3">
        <h3>Curso 3</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/curso1.png' %}" alt="Curso 4">
        <h3>Curso 4</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/curso1.png' %}" alt="Curso 5">
        <h3>Curso 5</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/curso1.png' %}" alt="Curso 6">
        <h3>Curso 6</h3>
    </div>
</div> -->
{% endblock %}
