<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <title>{% block title %}Inicio{% endblock title %}</title>
    </head>
    <body>
        <main>
            <div class="container col-8 col-md-6 col-xl-5 py-5 text-center">
                <h1>Bienvenido a la Aplicación</h1>
                {% bootstrap_messages %}
                <div class="d-grid gap-2">
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
                    <a href="{% url 'registro' %}" class="btn btn-secondary">Registrarse</a>
                </div>
                <br>
                {% bootstrap_button 'Salir' button_type="link" href="/logout" button_class="btn-danger" %}
            </div>
        </main>
        {% bootstrap_javascript %}
    </body>
</html>
