<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% load static %}
        <link href="{% static '/css/styles.css' %}" rel="stylesheet">
        <title>{% block title %}Inicio{% endblock title %}</title>
    </head>
    <body>
        <main>
            <div class="container col-8 col-md-6 col-xl-5 py-5">
                {% bootstrap_messages %}
                {% bootstrap_button 'Salir' button_type="link" href="/logout" button_class="btn-primary" %}
            </div>
        </main>
        {% bootstrap_javascript %}
    </body>
</html>
